@font-face {
    font-family: 'digital';
    src: url('../font/digital-7mono1-webfont.eot');
    src: url('../font/digital-7mono1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/digital-7mono1-webfont.woff2') format('woff2'),
         url('../font/digital-7mono1-webfont.woff') format('woff'),
         url('../font/digital-7mono1-webfont.ttf') format('truetype'),
         url('../font/digital-7mono1-webfont.svg#digital-7_monomono') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.plate{
	width: 100%;
	height: 100%;
}
.plate .plate-title{
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 5px white;
    width: 100%;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding: 2px 0px;
    text-indent: 10px;
}
.plate .plate-title > span{
	float: left;
}
.plate .plate-title > svg{
	float: left;
}
.plate .plate-title .subTitle{
	font-size: 20px;
	text-shadow:none;
	display: inline-block;
	height: 100%;
	line-height: 30px;
}
.plate .plate-title::before{
	content: "";
	display: inline-block;
	width: 4px;
	height: 60%;
	background-color: #52FEFE;
	position: absolute;
	left: 0;
	top: 20%;
}
.plate .plate-content{
    color: white;
   /* text-shadow: 0px 0px 3px white;*/
    width: 100%;
    height: calc(100% - 28px);
}
.green{
	color: #49d087;		
}