

*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑" ;
}
.container{
	width: 3840px;
	height: 1080px;
	position: relative;
	overflow: hidden;
	visibility: hidden;
}

.ctan{
	position: absolute;
}

.lt-ctan{
	width: 1110px;
	left: 0;
	top: 0;
	height: 1080px;
}

.rt-ctan{
	width: 1110px;
	right: 0;
	top: 0;
	height: 1080px;
}

.md-ctan{
	left: 1190px;
	right: 1100px;
	height: 1080px;
}

.fp .right-container{
	height: 1030px;
	width: 985px;
	padding-top: 50px;
}

.fp .plate .plate-title::before{
	background-color: transparent;
}
.fp .map-player{
	width: 100%;
}

#right-reportForm-1  .ctn-1{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	border-bottom: 1px dashed white;
}
#right-reportForm-1  .ctn-1 > li{
	float: left;
	height: 100%;
	width: 25%;
	text-align: left;
}
#right-reportForm-1  .ctn-1 > li > div:first-child,
#right-reportForm-2  .ctn-1 > li > div:first-child,
#right-reportForm-4  .ctn-1 > li > div:first-child,
#right-reportForm-5  .ctn-1 > li > div:first-child{
	font-size: 20px;
}
#right-reportForm-1  .ctn-1 > li > div:last-child,
#right-reportForm-2  .ctn-1 > li > div:last-child,
#right-reportForm-4  .ctn-1 > li > div:last-child,
#right-reportForm-5  .ctn-1 > li > div:last-child{
	font-size: 14px;
	margin-top: 5px;
}
#right-reportForm-1  .ctn-1 > li > div:last-child .green,
#right-reportForm-2  .ctn-1 > li > div:last-child .green,
#right-reportForm-4  .ctn-1 > li > div:last-child .green,
#right-reportForm-5  .ctn-1 > li > div:last-child .green{
	font-size: 30px;
	display: inline-block;
	vertical-align: -1px;
	margin-right: 5px;
}
.report-container{
	padding-left: 10px;
	width: 100%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

#right-reportForm-2  .ctn-1,
#right-reportForm-4  .ctn-1,
#right-reportForm-5  .ctn-1{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	border-bottom: 1px dashed white;
}
#right-reportForm-2  .ctn-1 > li,
#right-reportForm-4  .ctn-1 > li,
#right-reportForm-5  .ctn-1 > li{
	float: left;
	height: 100%;
	text-align: left;
}

#right-reportForm-3 .item {
	margin-top: 18px;
	margin-left: 65px;
	position: relative;
}
#right-reportForm-3 .item>i{
	position: absolute;
	background: transparent url(../../img/ri.png) no-repeat;
	width: 42px;
	height: 42px;
	left: -57px;
	top: 10px;
}
#right-reportForm-3 .item > div:first-child{
	font-size: 18px
}
#right-reportForm-3 .item > div:last-child{
	font-size: 14px
}

#right-reportForm-3 .report-num-1{
	font-size: 30px;
}
#right-reportForm-3 .report-num-2{
	font-size: 30px;
	position: relative;
	top: -8px;
}
#right-reportForm-3 .report-growth{
	display: inline-block;
	font-size: 16px;
	margin-left: 75px;
	position: relative;
	top: -11px;
}
#right-reportForm-3 .report-growth i{
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
}
.fp .left-container .cl{
	color: #3ebe95;
}
.fp .green{
	color: #3ebe95;
}
.fp .left-container .line1 .plate-content{
	border-bottom: none;
}

.fp .left-container .plate-content{
	border-bottom: none;
}

.fp #right-reportForm-1  .ctn-1{
	border-bottom: none;
}

.fp #right-reportForm-2  .ctn-1, .fp #right-reportForm-4  .ctn-1, .fp #right-reportForm-5  .ctn-1{
	border-bottom: none;
}
.fp .left-container{
	width: 985px;
}

#jz{
	color: white;
	font-size: 16px;
}

#jz .p{
	margin:30px 0;
}
#jz .p.f i {
    background: url(./imgs/1_03.png) no-repeat;
    display: inline-block;
    height: 55px;
    width: 40px;
    vertical-align: middle;
}

#jz .p.e i {
    background: url(./imgs/1_03.png) no-repeat;
    display: inline-block;
    height: 55px;
    width: 40px;
    vertical-align: middle;
    background-position: -63px 0;
}


@font-face {
    font-family: D7;
 	src: url('./font/Digital-7Mono.ttf');
 	src: url('./font/Digital-7Mono.ttf') format('truetype');
   	font-weight: normal;
   	font-style: normal;
}