@font-face {
    font-family: BGO;
 	src: url('../font/AgencyFB.eot');
 	src:
     	url('../font/AgencyFB.eot?#iefix') format('embedded-opentype'),
     	url('../font/AgencyFB.woff') format('woff'),
     	url('../font/AgencyFB.ttf') format('truetype'),
     	url('../font/AgencyFB.otf') format('otf'),
     	url('../font/AgencyFB.svg') format('svg');
   	font-weight: normal;
   	font-style: normal;
}

.mid-top{
	width: 100%;
	position: absolute;
	height: 70px;
	top: 0;
	left: 0;
	text-align: center;
	
}

.top-container{
	width: 1734px;
	margin: 0 auto;
	height: 100%;
}

.top-container .fl{
	float: left;
	text-align: left;
	height: 100%;
}

.top-container .top-lt{
	width: 290px;
	line-height: 70px;
}

.top-container .top-lt .wicon{
	display: inline-block;
	width: 50px;
	height: 35px;
	background: url(../img/weather.png) no-repeat;
	vertical-align: middle;
	margin-right: 16px;
}

.top-container .top-lt .wind{
	vertical-align: middle;
	margin-right: 16px;
	color: #fff;
	font-size: 18px;
}

.top-container .top-lt .temp{
	vertical-align: middle;
	color: #fff;
	font-size: 30px;
}

.top-container .top-md{
	width: 1080px;
}

.top-container .top-rt{
	width: 364px;
	color: #FFF;
}

.top-container .top-rt table{
	height: 100%;
	margin-left: 90px;
}

.top-container .top-rt table .pm{
	font-size: 18px;
	font-weight: bold;
}

.top-container .top-rt table .pmv{
	font-size: 30px;
	font-weight: bold;
}

.top-container .top-rt table .tlt{
	width: 135px;
}

.top-container .top-rt table .trt{
	
}

.top-container .top-rt table .trt div{
	font-size: 18px;
}

.top-container .top-rt table .trt div:nth-child(1){
	margin-bottom: 2px;
}

.top-container .top-rt table .trt div span{
	font-size: 24px;
	font-weight: bold;
}

.top-container .top-md{
	width: 1080px;
}

.top-container .top-md .box{
	width: 1080px;
	height: 70px;
	overflow: hidden;
	position: relative;
}

.top-container .top-md .box .box-line.line1{
	position: absolute;
	top: 0;
	left: 0;
}

.top-container .top-md .box .box-line.line2{
	position: absolute;
	top: 70px;
	left: 0;
}

.top-container .top-md .box .box-line.line3{
	position: absolute;
	top: 140px;
	left: 0;
}

.top-container .top-md .box .box-line{
	width: 1080px;
	height: 70px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

.top-container .top-md .box .box-line .item{
	width: 210px;
	height: 70px;
	background: url(../img/pic_02.png) no-repeat;
	position: relative;
}

.top-container .top-md .box .box-line .item .title{
	position: absolute;
	width: 100%;
	top: 12px;
	left: 0;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}

.top-container .top-md .box .box-line .item .info{
	position: absolute;
	left: 0;
	top: 35px;
	font-size: 16px;
	color: #6da3f4;
	text-align: center;
	width: 100%;
}

.top-container .top-md .box .box-line .item .info span{
	font-size: 30px;
	color: #8bfbff;
	font-family: BGO;
	font-weight: bold;
}